


body {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  color: #dedede;
  background: #333;
  font-size: 19px;
font-family: 'Source Sans Pro', sans-serif;
}

h1 {

}

a.giris {
  /* padding: 30px; */
  /* background: blue; */
  margin-left: 10px;
}

div.bes-n p.soru {
  font-weight: bold;
  padding: 0;
}

div.bes-n p {
  padding-left: 20px;
}

div.uye {
  text-align: center;
}

a.uye-ol {
  /* padding: 20px; */
  /* background: green; */
  font-size: 34px;
  background: rgb(237, 78, 80);
  color: white;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
